# build artifacts, metadata, and test files
.git
.github
.gitignore
.vscode
dist
node_modules
README.md
src-tauri/target
test
src/**/*.test.ts

# hwi binaries used locally
src-tauri/hwi**

# docker stuff
Dockerfile
docker-compose.yml
.dockerignore